
body {
  margin: 0;
  overscroll-behavior-y: none;
}

body * {
  box-sizing: border-box;
  outline: none;
  flex-shrink: 0;
}

.dev-shadows,
.dev-shadows * {
  box-shadow: 0 0 1px hsla(0,0%,0%,0.3);
}

.locale-card .minor {
  opacity: 0;
}

.locale-card:hover .minor {
  opacity: 1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsl(0,0%,90%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: hsl(0,0%,90%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: hsl(0,0%,90%);
}
:-moz-placeholder { /* Firefox 18- */
  color: hsl(0,0%,90%);
}

button:focus {
  transform: scale(1.03);
}